.title {
  margin: 25px 0px;
  font-family: "Satisfy", cursive;
  font-size: 36px;
  color: #ffcc00;
  border-bottom: #333 solid 2px;
  width: fit-content;
}

@media (max-width: 567px) {
  .title {
   text-align: center;
   width: 100%;
  }
}
@media (max-width: 370px) {
  .title {
    font-size: 28px;
  }
}
