.inputLabel {
  margin-bottom: 10px;
  width: 50%;
}

.input {
  margin: 10px 0px 20px 0px;
  width: 100%;
  padding: 8px 16px;
  box-sizing: border-box;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 2px solid #dfe2e5;
  border-radius: 3px;
  font-size: 16px;
}

@media (max-width: 370px) {
  .inputLabel {
    margin-bottom: 8px;
    width: 50%;
  }

  .input {
    margin: 8px 0px 15px 0px;
    padding: 10px 12px;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 2px solid #dfe2e5;
    border-radius: 3px;
  }
}
